@font-face {
  font-family: raleway;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: rubik;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: rubik;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: rubik;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  min-width: 1040px;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "rubik", Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  position: relative;
  display: inline-block;
  font-family: "raleway", Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  border: 2px solid transparent;
  background: none;

}

.button::before {
  content: "";
  position: absolute;
  background-color: #FFE17F;
  z-index: -1;
  width: inherit;
  height: 8px;
  top: 50%;
  left: 0;
  margin-top: -4px;
}

.button:hover::before {
  top: 0;
  height: 100%;
  margin: 0;
}

.button:active::before {
  background-color: #FFCC33;
}

.button:disabled {
  opacity: 0.3;
}

.header-container {
  color: #000000;
  background-color: #FFE17F;
  width: 1040px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 60px;
  margin-top: 40px;
}

.logo {
  position: absolute;
  top: 17px;
  width: 145px;
  height: 36px;
  z-index: 1;
}

.logo:hover,
.header-user-navigation-item:hover,
.navigation-sub-column a:hover,
.header-navigation-item:hover,
.slider-pagination-button:hover,
.logo-footer:hover,
.breadcrumbs-link:hover,
.categories-link:active,
.delivery-extra p:active,
.slider-button:hover,
.select-control:hover,
.modal-close-button:hover,
.cart-item-title:hover, 
.catalog-filter-item:hover {
  opacity: 0.6;
}

.logo:active,
.header-user-navigation-item:active,
.navigation-sub-column a:active,
.header-navigation-item:active,
.slider-pagination-button:active,
.subscribe-button:active,
.logo-footer:active,
.breadcrumbs-link:active,
.show-more:active,
.pagination-prev:active,
.pagination-next:active,
.slider-button:active,
.select-control:active,
.modal-close-button:active,
.cart-item-title:active, 
.catalog-filter-item:active {
  opacity: 0.3;
}

.main-header-search:focus-visible, 
.main-header-search:focus, 
.search-button:focus,
.search-button:focus-visible, 
.logo:focus-visible, 
.logo:focus, 
.header-user-navigation-item:focus,
.header-navigation-item:focus, 
.header-navigation-item:focus-visible,
.header-navigation-item-catalog:focus, 
.header-navigation-item-catalog:focus-visible, 
.button:focus, 
.slider-button:focus, 
.slider-button:focus-visible, 
.slider-pagination-button:focus, 
.categories-link:focus, 
.button-left-nav-current:focus, 
.contacts-phone:focus, 
.subscribe-button:focus, 
.logo-footer:focus, 
.footer-nav-item:focus, 
.footer-contacts-phone:focus, 
.footer-social-item:focus, 
.htmlacdademy-link:focus, 
.breadcrumbs-link:focus, 
.filter-range-input:focus, 
.select-control:focus, 
.sort-asc:focus, 
.sort-desc:focus, 
.product-card-link:focus-visible, 
.show-more:focus, 
.pagination-link:focus, 
.control-input:focus, 
.catalog-filter-item:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.header-top {
  position: relative;
  display: flex;
  padding-top: 43px;
  margin-bottom: 25px;
}

.search-form {
  display: grid;
  grid-template-columns: 359px 160px;
  box-sizing: border-box;  

}

.main-header-search {
  border-radius: 50px 0px 0px 50px;
  background: transparent;
  border: 2px solid #000;
  font-size: 16px;
  font-family: "rubik", Arial, sans-serif;
  padding-left: 48px;
  padding-top: 9px;
  padding-bottom: 9px;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center left 14px;
}

.main-header-search::placeholder {
  color: #000000;
  opacity: 0.3;
}

.main-header-search:disabled {
  opacity: 0.3;
}

.search-button {
  border-radius: 0px 20px 20px 0px;
  background: transparent;
  border: 2px solid #000;
  border-left: none;
  font-size: 16px;
  line-height: 20px;
  font-family: "rubik", Arial, sans-serif;
  cursor: pointer;
}

.search-button:hover {
  color: #ffffff;
  background-color: #000;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000;
}

.search-button:disabled {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000;
}

.header-user-navigation {
  position: relative;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-user-navigation-item {
  text-align: right;
  background-repeat: no-repeat;
  background-position: center left;
  border: 2px solid transparent;
  padding-left: 20px;
  max-width: 95px;
}

.header-user-navigation-item-login {
  margin-right: auto;
  background-image: url("../images/login.svg");
  margin-left: 29px;
  max-width: 130px;
}

.header-user-navigation-item-user {
  margin-right: auto;
  width: 140px;
  background-image: url("../images/login.svg");
  margin-left: 29px;
}

.header-user-navigation-item-logout {
  margin-right: 26px;
  opacity: 0.3;
}

.header-user-navigation-item-compare {
  background-image: url("../images/compare.svg");
  margin-right: 29px;
}

.header-user-navigation-item-cart {
  background-image: url("../images/cart.svg");
  padding-left: 6px;

}

.header-user-navigation-item-cart::before {
  position: relative;
  left: -20px;
  background-color: #ffffff;
  content: "2";
  border-radius: 50%;
  font-size: 14px;
  padding: 1px 6px;
}

.header-navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  font-family: "raleway", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.slider::before {
  width: 1040px;
  position: absolute;
  background-color: #FFE17F;
  padding-bottom: 131px;
  padding-left: 60px;
  padding-right: 60px;
  z-index: -1;
  content: "";
}

.header-navigation-sub {
  display: none;
  flex-wrap: wrap;
  background-color: #FFE17F;
  position: absolute;
  width: 100%;
  top: 57px;
  left: -60px;
  padding-left: 60px;
  padding-right: 60px;
  z-index: 1;
}

.navigation-sub-column {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.navigation-sub-column:first-child {
  width: 222px;
}

.navigation-sub-column a {
  font-family: "rubik", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: normal;
  text-transform: none;
  padding: 10px;
  padding-left: 0;
}

.header-navigation-item {
  text-align: center;
  padding: 15px;
  margin-left: 14px;
  max-width: 200px;
}

.header-navigation-item-catalog {
  text-align: left;
  padding-left: 0px;
  margin-right: auto;
  width: 293px;
  padding: 15px;
  padding-left: 0;
  position: relative;

}

.header-navigation-item-catalog::after {
  position: absolute;
  top: 3px;
  right: 15px;
  width: 50px;
  height: 51px;
  background-image: url("../images/plus.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
  content: "";
}

.header-navigation-item-catalog:hover::after,
.header-navigation-item-catalog:active::after {
  opacity: 1;
}

.header-navigation-item-catalog:hover::after {
  background-image: url("../images/minus.svg");
}

.header-navigation-item-catalog:hover+.header-navigation-sub {
  display: flex;
}

.header-navigation-sub:hover {
  display: flex;
}
.header-navigation-item-catalog:focus-within {
  display: flex;
}

.header-navigation-item-warranty {
  margin-right: 4px;
}

.header-navigation-item-contacts {
  padding-right: 0px;
  margin-right: -4px;
}

.header a {
  text-decoration: none;
  color: #000000;
}

.main-container-inner {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}
.slider {
  position: relative;
}

.slider-item {
  display: flex;
}

.slider-item-left {
  width: 560px;
  margin-right: 40px;
}

.slider-image {
  margin-top: -20px;
}

.slider-item-right {
  width: 50%;
  padding-top: 18px;

}

.slider-item-right::before {
  content: "";
  position: relative;
  top: 40px;
  left: 300px;
  z-index: -1;
  font-weight: 700;
  font-size: 180px;
  color: #ffffff;
}

.slider-item-right-1::before {
  content: "01";
}

.slider-item-right-2::before {
  content: "02";
}

.slider-item-right-3::before {
  content: "03";
}

.slider-nav {
  position: relative;
  bottom: 357px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.slider-nav-left {
  position: relative;
  width: 530px;
  margin-left: 30px;
}

.slider-nav-left-wrapper {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.slider-button,
.slider-pagination-button,
.footer-social-item,
.sort-asc,
.sort-desc, 
.htmlacdademy-link, 
.count-button {  
  font-size: 0;
}

.slider-prev {
  background-image: url("../images/slider-left.svg");
  background-position: center left;
  background-repeat: no-repeat;
  width: 20px;
  height: 60px;
}

.slider-next {
  background-image: url("../images/slider-right.svg");
  background-position: center right;
  background-repeat: no-repeat;
  width: 20px;
  height: 60px;
}

.product-slogan {
  font-family: "raleway", Arial, sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  font-weight: 800;
  margin-top: 0px;
  margin-bottom: 30px;
}

.product-description {
  margin-bottom: 48px;
}

.more-button {
  width: 220px;
}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 163px;
}

.slider-pagination-button {
  background-color: #ffffff;
  border: #000 solid 2px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  margin-left: 20px;
}

.slider-pagination-button-current {
  background-color: #000000;
}

.more-about-button {
  width: 270px;
}

.button-write-us {
  width: 260px;
}

.contacts h2 {
  font-family: "raleway", Arial, sans-serif;
  font-size: 50px;
  color: #000000;
  font-weight: 800;
}

.contacts-phone {
  font-style: normal;
  color: #444444;
}

.contacts-address-text {
  font-style: normal;
}

.product-params {
  border-spacing: 19px 8px;
  margin-top: 35px;
  margin-left: -20px;
}

.product-params td {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  font-weight: normal;
}

.product-params th {
  font-size: 16px;
  Line-height: 30px;
  color: #444444;
  font-weight: 400;
  text-align: left;
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  padding-left: 0;
  list-style-type: none;
  justify-content: space-between;
  margin: 50px 0 70px 0;
  row-gap: 30px;
}

.categories a {
  font-size: 16px;
  font-weight: 800;
}

.categories-link {
  text-decoration: none;
  color: #000000;
  width: 160px;
  line-height: 24px;

}

.categories-link::before {
  display: block;
  background-color: #FFE17F;
  content: "";
  width: 160px;
  height: 160px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 33px;
  letter-spacing: -0.02em;
  font-size: 16px;
}

.monopod::before {
  background-position: bottom;
}

.categories-link:hover:before {
  background-color: #FFC500;
}

.vr::before {
  background-image: url("../images/virtual.svg");
}

.monopod::before {
  background-image: url("../images/monopod.svg");
}

.action::before {
  background-image: url("../images/camera.svg");
}

.fitnes::before {
  background-image: url("../images/fitnes.svg");
}

.clock::before {
  background-image: url("../images/watches.svg");
}

.quadro::before {
  background-image: url("../images/copters.svg");
}

.inner-nofull-grey {
  background: linear-gradient(to top, #F0F0F0 72%, #ffffff 28%);
  padding-bottom: 63px;
  margin-bottom: 70px;
}

.services-list {
  position: relative;
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-gap: 32px 0;
  margin: 0;
}

.services-list-delivery {
  grid-column: 1/2;
  grid-row: 1/2;
  padding-top: 75px;
}

.services-items::after {
  position: absolute;
  width: 200px;
  height: 200px;
  content: "";
  background-repeat: no-repeat;
  right: -1px;
  top: 89px;
}

.services-items-delivery::after {
  background-image: url("../images/delivery.svg");
}

.services-items-warranty::after {
  background-image: url("../images/warranty.svg");
}

.services-items-credit::after {
  background-image: url("../images/credit.svg");
}

.services-list-warranty {
  grid-column: 1/2;
  grid-row: 2/3;
}

.services-list-credit {
  grid-column: 1/2;
  grid-row: 3/4;
  padding-bottom: 70px;
}

.button-left-nav-current {
  color: #FFE17F;
  padding-left: 20px;
  border: none;
  background-color: #000000;
  width: 100%;
  text-align: left;
  font-family: "raleway", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 21px;
  letter-spacing: 0.2em;
  cursor: pointer;
  padding-left: 17px;

}

.button-left-nav {
  width: 160px;
  z-index: 0;
}

.services-items {
  grid-column: 2/-1;
  grid-row: 1/4;
  border-left-style: solid;
  border-left-color: #000;
  border-width: 7px;
  margin: 0;
  padding-top: 95px;
  padding-bottom: 64px;
  padding-left: 116px;

}

.service-item-title {
  font-family: "raleway", Arial, sans-serif;
  font-size: 50px;
  color: #000000;
  font-weight: 800;
  margin: 0;
  padding: 0;
  margin-bottom: 43px;
  max-width: 530px;
}

.service-item-description {
  width: 453px;
}

.delivery-extra {
  position: relative;
  display: flex;
  margin-bottom: 70px;
  background-color: #F0F0F0;
  justify-content: space-between;
  align-items: baseline;
  align-content: center;
}

.delivery-extra p {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 20px;
  color: #000000;
  font-weight: 800;
  letter-spacing: 0.18em;
  margin: 0;
  align-items: center;
}


.delivery-extra p::before {
  background-image: url("../images/delivery-car.svg");
  background-color: #FFE17F;
  width: 125px;
  height: 100px;
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.delivery-extra p:hover::before {
  background-color: #FFC500;
}

.delivery-extra p::after {
  background-image: url("../images/info.svg");
  background-color: #F0F0F0;
  width: 125px;
  height: 100px;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
}

.about-contact {
  display: grid;
  margin-bottom: 64px;
  grid-template-columns: 50% auto;
  column-gap: 48px;
}

.about::before,
.contacts::before {
  display: block;
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  border-top: #000 7px solid;
  width: 84px;
}

.about h2 {
  font-family: "raleway", Arial, sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
  margin-bottom: 48px;
  margin-top: 40px;
}

.about p {
  margin-bottom: 30px;
  margin-right: 80px;
}

.about ul {
  position: relative;
  margin-bottom: 30px;
  padding-left: 20px;
  color: #000000;
  font-weight: 700;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 5px;
}

.about li {
  position: relative;
  padding-left: 35px;
  padding-bottom: 20px;
  line-height: 20px;
}

.delivery-company::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #FFC700;
  left: 0px;
  border-radius: 50%;
  top: 5px;

}

.contacts h2 {
  margin-bottom: 48px;
  line-height: 50px;
  margin-top: 40px;
}

.contacts p {
  margin-bottom: 30px;
}

.contacts-subtitle {
  margin-bottom: 15px;
  letter-spacing: 0.09em;
}

.contacts-address {
  margin-bottom: 25px;
}

.contacts-address p {
  margin-bottom: 0;
}

.contacts-schedule {
  margin-bottom: 30px;
  list-style-type: none;
  padding-left: 0;
}

.subscribe {
  padding-bottom: 58px;
}

.inner-full-grey {
  background-color: #F0F0F0;
}

.subscribe-top {
  display: grid;
  grid-template-columns: 50% auto;
  padding-top: 64px;
  margin-bottom: 144px;
  align-items: center;
  column-gap: 25px;
  align-items: end;

}

.subscribe-title {
  font-family: "raleway", Arial, sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  font-weight: 800;
  margin: 0;
  margin-right: 170px;
  padding-left: 7px;
}

.subscribe-description {
  margin: 0;
}

.subscribe-bottom {
  display: flex;
}

.subscribe-bottom p {
  margin: 0;
  margin-left: auto;
  background-image: url("../images/check.svg");
  background-repeat: no-repeat;
  background-position: center left;
  width: 160px;
  text-align: end;
  align-self: center;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 560px auto;
  width: 810px;
  box-sizing: border-box;
}

.subscribe-email {
  border: none;
  background-color: transparent;
  border-bottom: 3px solid #C4C4C4;
  font-size: 16px;
  font-family: "rubik", Arial, sans-serif;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;

}

.subscribe-email:focus-visible {
  outline: none;
  border-bottom: 3px solid #000;
}

.subscribe-button {
  text-transform: uppercase;
  border: 3px solid #C4C4C4;
  font-family: "raleway", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  font-weight: 800;

}

.subscribe-button:hover {
  border-color: #000000;
}

.footer {
  background-color: #444444;
  color: #ffffff;
  font-size: 16px;
  min-width: 1160px
}

.footer-container {
  width: 1160px;
  margin: 62px auto;
}

.logo-footer {
  display: block;
  width: 145px;
  height: 36px;
  margin-bottom: 35px;
}


.footer-address {
  display: flex;
  flex-wrap: wrap;
  font-style: normal;
  align-items: center;
  margin-bottom: 45px;
}

.footer-address-text {
  margin: 0;
  width: 240px;
  font-style: normal;
  line-height: 20px;

}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links::before {
  width: 80px;
  content: "";
  border-bottom: solid 7px #FFC500;

}

.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
  font-family: "raleway", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  justify-content: center;
  margin-top: 137px;
  margin: 0;
  text-transform: uppercase;
  align-self: baseline;
  max-width: 560px;
  letter-spacing: 0.2em;
  margin: 0 auto;
  gap: 0 28px;
  margin-right: 184px;
}

.footer-nav-item {
  padding-bottom: 4px;
  border: solid transparent 2px;
  color: #ffffff;
  text-decoration: none;
  max-width: 180px;
}

.footer-nav-item:nth-child(3) {
  margin-right: 0;
}

.footer-nav-item:hover {
  border-bottom: solid #FFC500 2px;
  color: #FFC500;

}

.footer-nav-item:focus {
  color: #ffffff;
}

.footer-nav-item:active {
  border-bottom: solid #FFC500 2px;
  color: #FFC500;
  opacity: 0.3;
}

.footer-contacts {
  display: flex;
  justify-content: space-around;
}

.footer-contacts-phone {
  font-style: normal;
  text-decoration: underline;
  color: #ffffff;
}

.footer-contacts-phone:hover {
  color: #FFC500;
}

.footer-contacts-phone:active {
  color: #FFC500;
  opacity: 0.3;
}

.footer-contacts-phone:focus {
  color: #ffffff;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 500px;
  margin: 0 auto;
  padding-left: 40px;
}

.footer-social-item {
  background: rgba(255, 255, 255, 0.3);
  width: 40px;
  border-radius: 50%;
  height: 40px;
}

.footer-social-item:hover {
  background-color: #FFC500;
}

.facebook {
  background-image: url("../images/facebook.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.instagram {
  background-image: url("../images/instagram.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.twitter {
  background-image: url("../images/twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.htmlacdademy-link {
  margin-top: 3px;
}

.htmlacdademy-icon {
  fill: #FFC700;
}

.htmlacdademy-icon:hover {
  fill: #ffffff;
}

.htmlacdademy-icon:active {
  fill: #ffffff;
  opacity: 0.3;
}

.htmlacdademy-icon:focus {
  fill: #FFC700;
}

.inner-header {
  margin: 60px 60px 30px 60px;
}

.inner-header-title {
  font-family: "raleway", Arial, sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  font-size: 16px;
  padding-left: 0;
  margin: 0;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #000000;
}

.breadcrumbs-item {
  margin-right: 36px;
  position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  background-image: url("../images/breadcrumbs.svg");
  background-repeat: no-repeat;
  content: "";
  opacity: 0.2;
  width: 4px;
  height: 7px;
  right: -20px;
  top: 10px;
}

.catalog-products {
  display: flex;
  padding-bottom: 11px;
  background-color: #F0F0F0;
}

.catalog-filter-wrapper {
  width: 220px;
  padding: 0 40px 0 60px;

}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
  margin-top: 26px;
  position: relative;
  margin-right: 20px;
}

.catalog-filter-title {
  display: block;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #000;
  padding: 0;
  padding-top: 12px;
  border-top: #000 solid 2px;
  width: 100%;
  line-height: 20px;
  margin-bottom: 18px;
}

.catalog-filter-wrapper h2,
.catalog-cards h2 {
  letter-spacing: 0.2em;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0;
  text-transform: uppercase;
}

.filter-range {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.filter-range-control {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}

.filter-range-scale {
  height: 2px;
  background-color: #dcdcdc;
}

.filter-range-bar {
  width: 120px;
  height: 2px;
  background-color: #000;
}

.filter-range-toggle {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #EBEBEB;
  border: 2px solid #000;
  border-radius: 50%;
  cursor: pointer;
}
.filter-range-toggle:hover {
  border-color: #EBEBEB
}
.filter-range-toggle:active {
  background-color: #000000;
  border-color: #000000
}

.filter-range-toggle-min {
  top: -10px;
  left: -10px;
}

.filter-range-toggle-max {
  top: -10px;
  left: 109px;
}

.filter-range-price {
  display: flex;
  margin-top: 5px;
}

.filter-range-label {
  font-size: 15px;
  line-height: 24px;
  color: #000;
  opacity: 0.3;
}

.filter-range-input {
  width: 60px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  border: none;
  font: inherit;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  padding-left: 40px;
  padding-bottom: 6px;
}

.control-label {
  position: relative;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  cursor: pointer;
}

.control-label-checkbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 2px solid #cccccc;
  border-radius: 3px;
}

.control-label-checkbox::after {
  content: "";
  background-image: url("../images/filter-check.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 4px;
  left: -35px;
  display: none;
  width: 10px;
  height: 10px;
}

.control-input-checkbox:checked+.control-label-checkbox::before {
  border-color: #000000;
  top: 0px
}

.control-input-checkbox:checked+.control-label-checkbox::after {
  display: block;
}

.control-label-radio::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 2px solid #cccccc;
  border-radius: 50%;
}

.control-label-radio::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -34px;
  display: none;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
}

.control-input-radio:checked+.control-label-radio::before {
  border-color: #000000;
}

.control-input-radio:checked+.control-label-radio::after {
  display: block;
}

.button-filter {
  width: 100%;
  margin-top: 23px;
  z-index: 0;
}

.select-control {
  background-color: transparent;
  border: none;
  font: inherit;
  padding-right: 20px;
  cursor: pointer;
  max-width: 300px;
}

.asc-desc {
  display: flex;
  margin-right: 20px;
}

.sort-asc {
  background-image: url("../images/triangle-up.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 11px;
  padding: 0 10px;
  opacity: 0.2;
  border: 2px solid transparent;
}

.sort-asc:hover,
.sort-desc:hover {
  opacity: 0.5;
}

.sort-asc:active,
.sort-desc:active {
  opacity: 1;
}

.sort-desc {
  background-image: url("../images/triangle-down.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 11px;
  opacity: 0.2;
  padding: 0 10px;
  border: 2px solid transparent;
}

.catalog-products h2 {
  font-family: "raleway", Arial, sans-serif;
  font-size: 16px;
  color: #000000;
  max-width: 400px;
}

.catalog-cards {
  width: 840px;
}

.catalog-cards-inner {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}
.catalog-cards-inner h2{
  margin-left: 20px;
}
.product-list {
  display: grid;
  gap: 44px 40px;
  grid-template-columns: 360px 360px;
  background-color: #ffffff;
  padding: 70px 40px;
}

.descr-price {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  padding-top: 19px;
}

.product-card {
  position: relative;
}

.product-card-inner:hover {
  opacity: 0.6;
}

.product-card:hover::before {
  position: absolute;
  content: "Подробнее";
  font-family: "raleway", Arial, sans-serif;
  font-size: 18px;
  color: #000000;
  width: 200px;
  text-transform: uppercase;
  left: 50px;
  top: 180px;
  z-index: 1;
  letter-spacing: 0.2em;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: -20px;
  cursor: pointer;
}

.product-card:hover::after {
  content: "";
  position: absolute;
  background-color: #FFE17F;
  z-index: 0;
  width: 220px;
  height: 8px;
  top: 194px;
  left: 65px;
  margin-top: -4px;
}

.product-card:active::after {
  background-color: #FFCC33;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  width: 226px;
  margin: 0;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.product-card-price {
  color: #444444;
  font-weight: normal;
}

.product-card-image {
  background-color: #ffffff;
}

.product-card-link-new::before {
  content: "New";
  position: absolute;
  right: 23px;
  top: 23px;
  border-radius: 50%;
  border-color: #C4C4C4;
  color: #000;
  opacity: 0.6;
  border: 2px solid #000000;
  box-sizing: border-box;
  padding: 10px;
  text-transform: uppercase;
  font-family: "raleway", Arial, sans-serif;
  font-size: 14px;
  font-weight: 800;

}

.show-more {
  grid-column: 1/-1;
  font-family: "raleway", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  line-height: 19px;
  padding: 17px 0;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.2em;
  border: 3px solid #E5E5E5;
}

.show-more:hover {
  border-color: #000;
}

.show-more:focus {
  opacity: 1;
  color: #000;
}

.pagination-full {
  grid-column: 1/-1;
  background-color: #EBEBEB;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: baseline;
}

.pagination {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  align-items: baseline;
}

.pagination-link {
  display: flex;
  color: #444444;
  font-size: 16px;
  text-decoration: none;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 15px 0;
}

.pagination-item a {
  opacity: 0.3;
  border: 2px solid transparent;
}

.pagination-item a:hover {
  opacity: 1;
}

.pagination-item a:active {
  opacity: 0.1;
}

.pagination-item a:focus {
  opacity: 0.3;
}


.pagination-prev,
.pagination-next {
  font-weight: 800;
  font-size: 18px;
  color: #000000;
  text-transform: uppercase;
  width: 140px;
  letter-spacing: 0.16em;
  border: 2px solid transparent;
  word-break: break-word;
  text-align: center;
}

.pagination-prev:hover,
.pagination-next:hover {
  background-color: #DCDCDC;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #ffffff;
  border: #000000 solid 10px;
}

.modal-delivery {
  width: 760px;
  padding: 60px 70px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 65px;
  right: 55px;
  width: 56px;
  height: 44px;
  background-color: #ffffff;
  border: none;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:focus {
  outline: 2px solid #AF4FFF;
}

.delivery-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.field-group {
  display: flex;
  flex-direction: column;
}

.field-group-1 {
  width: 360px;
  margin: 0;
  margin-bottom: 43px;
}

.field-group-2 {
  width: 360px;
  margin: 0;
}

.field-group-3 {
  width: 540px;
}

.field-group-4 {
  width: 180px;
  position: relative;
  margin-bottom: 0;
}

.modal-title {
  margin: 0;
  margin-bottom: 42px;
  font-family: "raleway", Arial, sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.delivery-form-label {
  font-family: "Rubik", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 14px;
}

.delivery-form-field {
  padding: 16px 20px;
  background-color: #F0F0F0;
  border: none;
  font: inherit;
  font-size: 16px;
}
.delivery-form-field:focus {
  outline: 2px solid #AF4FFF;
}

.delivery-form-field-name {
  background-image: url("../images/form-name-field.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
}
.delivery-form-field-email {
  background-image: url("../images/form-email-field.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
}

.delivery-form-field::placeholder {
  opacity: 0.3;
}
.delivery-form-button:focus {
  outline: 2px solid #AF4FFF;
}
.delivery-count-group {
  width: 180px;
}
.count-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.input-delivery-count {
  text-align: center;
  width: 60px;
  padding: 15px 0;
}
.count-button {
  width: 58px;
  border: none;
  cursor: pointer;
}
.count-button:active {
  outline: 2px solid #AF4FFF;
}
.count-button:focus-visible {
  outline: 2px solid #AF4FFF;
}
.count-down {
  background-image: url("../images/minus-form.svg");
  background-repeat: no-repeat;
  background-position: center right 22px;  
}
.count-up {
  background-image: url("../images/plus-form.svg");
  background-repeat: no-repeat;
  background-position: center right 22px;  
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; 
}

.delivery-form-button {
  width: 200px;
  z-index: 0;
  margin-top: 20px;
  border: none;
}

.modal-container-close {
  display: none;
}

.tooltip {
  position: absolute;
  margin-left: 10px;
  width: 16px;
  height: 16px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
  background-image: url("../images/tooltip-toggle.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 2px;
  height: 12px;
  padding: 12px;
  border: none;
  border-radius: 50%;
  background-color: #FFE17F;
}
.tooltip-toggle:focus {
  outline: 2px solid #AF4FFF;
}

.tooltip-text {
  background-color: #000000;
  color: #ffffff;
  padding: 19px;
  display: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  width: 180px;
  position: absolute;
  top: 100%;
  margin-top: 19px;
  right: -80px;
}

.tooltip-text::before {
  position: absolute;
  content: "";
  background-image: url("../images/triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 6px;
  right: 76px;
  top: -6px;
}

.tooltip-toggle:hover+.tooltip-text,
.tooltip-toggle:focus+.tooltip-text {
  display: block;
}

.popover {
  position: absolute;
  top: 35px;
  right: -88px;
  z-index: 1;
  box-sizing: border-box;
  width: 320px;
  background-color: #000000;
  display: none;
}

.popover::before {
  position: absolute;
  content: "";
  background-image: url("../images/triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 6px;
  right: 160px;
  top: -6px;
}

.cart-items-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 20px;
}

.cart-item:not(:last-child) {
  border-bottom: rgba(255, 255, 255, 0.1) solid 1px;
}

.cart-item-img {
  display: block;
  width: 39px;
  height: 43px;
  margin-right: 23px;
}

.cart-item-title {
  color: #ffffff;
  margin: 0;
  font-family: "rubik", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  max-width: 160px;
}

.cart-item-title::after {
  position: absolute;
  content: "";
  background-image: url("../images/close-white.svg");
  background-repeat: no-repeat;
  background-position: center right;
  width: 10px;
  height: 10px;
  right: 30px;
}

.cart-sum {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #ffffff;
  padding: 20px;
  background-color: #1A1A1A;
}

.cart-sum p {
  margin: 0;
}

.button-open-cart {
  margin: 20px;
  padding: 15px 20px;
  text-transform: uppercase;
  font-family: "raleway", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
}

.button-open-cart:hover {
  opacity: 0.6;
}

.button-open-cart:active {
  opacity: 0.3;
}

.header-user-navigation-item-cart:hover+.popover,
.popover:hover {
  display: block;
}
