@font-face {
  font-family: raleway;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: rubik;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: rubik;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: rubik;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

* {
  outline: 1px solid red;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: rubik, Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-container {
  color: #000000;
  background-color: #FFE17F;
  /* непонятно как сделать фон "сдвинутым",
  чтобы наезжал на лого и "Порхает" */
  width: 1040px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 60px;
}

.logo {
  display: block;
  border: 2px solid transparent;
  /* пришлось добавить прозрачный border,
  чтобы лого не "прыгал" при наведении,
  не получилось сделать через box-sizing: border-box; */
  width: 145px;
  height: 36px;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.logo:focus {
  border: 2px solid #AF4FFF;
}

.header-top {
  display: flex;
  /* padding: 30px 0; */
  margin-top: 30px;
  margin-bottom: 30px;
}

.search-form {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 560px;
  box-sizing: border-box;
}

.header-user-navigation {
  position: relative;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0;
  justify-content: space-around;
}

.header-user-navigation-item {
  text-align: right;
  background-repeat: no-repeat;
  background-position: center left;
  border: 2px solid transparent;
}

.header-user-navigation-item:hover {
  opacity: 0.6;
}

.header-user-navigation-item:active {
  opacity: 0.3;
}

.header-user-navigation-item:focus {
  border: 2px solid #AF4FFF;
}

.header-user-navigation-item-login {
  margin-right: auto;
  width: 81px;
  background-image: url("../images/login.svg");
  margin-left: 26px;
}

.header-user-navigation-item-user {
  margin-right: auto;
  width: 140px;
  background-image: url("../images/login.svg");
  margin-left: 26px;
}

.header-user-navigation-item-logout {
  margin-right: 26px;
  opacity: 0.3;
}

.header-user-navigation-item-compare {
  width: 105px;
  background-image: url("../images/compare.svg");
  margin-right: 36px;
}

.header-user-navigation-item-cart {
  width: 99px;
  background-image: url("../images/cart.svg");
}

.header-user-navigation-item-cart::after {
  position: absolute;
  right: 95px;
  background-color: #ffffff;
  content: "2";
  border-radius: 50%;
  font-size: 14px;
  padding: 0 12px;
  /* Не получилось сделать меньше белый кружок */
}

.header-navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  font-family: "raleway", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.header-navigation-item {
  text-align: center;
  padding: 15px;
  border: 2px solid transparent;
}

.header-navigation-item:hover {
  opacity: 0.6;
}

.header-navigation-item:active {
  opacity: 0.3;
}

.header-navigation-item:focus {
  border: 2px solid #AF4FFF;
}

.header-navigation-item-catalog {
  text-align: left;
  padding-left: 0px;
  margin-right: auto;
  width: 293px;
  padding: 15px;
  border: 2px solid transparent;

}

.header-navigation-item-catalog::after {
  position: absolute;
  top: 5px;
  left: 255px;
  width: 50px;
  height: 50px;
  background-image: url("../images/plus.svg");
  opacity: 0.3;
  content: "";
}

.header-navigation-item-catalog:hover::after,
.header-navigation-item-catalog:active::after {
  opacity: 1;
}

.header-navigation-item-catalog:focus {
  border: 2px solid #AF4FFF;
}

.header-navigation-item-contacts {
  padding-right: 0px;
}

.header a {
  text-decoration: none;
  color: #000000;
}

.main-container-inner {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.slider-item {
  display: flex;
}

.slider-item-left {
  width: 50%;
}

.slider-image {
  display: block;
}

.slider-item-right {
  width: 50%;
  margin-top: 107px;
}

.slider-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.slider-nav-left {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.slider-button,
.slider-pagination-button,
.footer-social-item {
  font-size: 0;
}

.slider-prev {
  position: absolute;
  top: -350px;
  background-image: url("../images/slider-left.svg");
  background-position: center left;
  background-repeat: no-repeat;
  width: 20px;
  height: 60px;
}

.slider-next {
  position: absolute;
  top: -350px;
  right: 20px;
  background-image: url("../images/slider-right.svg");
  background-position: center right;
  background-repeat: no-repeat;
  width: 20px;
  height: 60px;
}

.product-slogan {
  font-family: "raleway", Arial, sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  font-weight: 800;
  margin-top: 0px;
  margin-bottom: 30px;
}

.product-description {
  margin-bottom: 50px;
}

.slider-pagination {
  display: flex;
  list-style-type: none;
  position: relative;

}

.slider-pagination-button {
  position: absolute;
  background-image: url("../images/point-white.svg");
  background-position: center right;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  top: -210px;
  left: -12px;
}

.slider-pagination-button-current {
  background-image: url("../images/point-black.svg");
  left: -76px;
}

.slider-pagination-button:nth-child(2) {
  left: -44px;
}

.contacts h2 {
  font-family: "raleway", Arial, sans-serif;
  font-size: 50px;
  color: #000000;
  font-weight: 800;
}

.contacts-phone {
  font-style: normal;
  color: #444444;
}

.contacts-address-text {
  font-style: normal;
}

.button {
  position: relative;
  display: inline-block;
  font-family: "raleway", Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  padding: 0 30px;
  /* Как сделать фон кнопок сжатым по вертикали */
}

.button::before {
  background-color: #FFE17F;
  top: 5px;
  left: 0px;
  content: "";
  position: absolute;
  width: 210px;
  height: 10px;
  z-index: -1;
}

.product-params {
  margin-top: 50px;
  margin-bottom: 40px;
  /* border-spacing: 12px 0; */
}

.product-params td {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  font-weight: normal;
}

.product-params th {
  font-size: 16px;
  Line-height: 30px;
  color: #444444;
  font-weight: 400;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;
  justify-content: space-between;
  margin: 70px 0;
}

.categories a {
  font-size: 18px;
  font-weight: 800;
}

.categories-link {
  text-decoration: none;
  color: #000000;
  width: 160px;
  border: 2px solid transparent;
}

.categories-link::before {
  display: block;
  background-color: #FFE17F;
  content: "";
  width: 160px;
  height: 160px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 33px;
}

.categories-link:active {
  opacity: 0.6;
}

.categories-link:focus {
  border: 2px solid #AF4FFF;
}

.categories-link:hover:before {
  background-color: #FFC500;
}

.vr::before {
  background-image: url("../images/virtual.svg");
}

.monopod::before {
  background-image: url("../images/monopod.svg");
}

.action::before {
  background-image: url("../images/camera.svg");
}

.fitnes::before {
  background-image: url("../images/fitnes.svg");
}

.clock::before {
  background-image: url("../images/watches.svg");
}

.quadro::before {
  background-image: url("../images/copters.svg");
}

.services-list {
  position: relative;
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-gap: 35px 0;
  margin-bottom: 142px;
}

.services-list-delivery {
  grid-column: 1/2;
  grid-row: 1/2;
  padding-top: 64px;
}

.services-list-delivery::after {
  position: absolute;
  background-image: url("../images/delivery.svg");
  width: 200px;
  height: 200px;
  content: "";
  background-repeat: no-repeat;
  left: 950px;
}

.services-list-warranty {
  grid-column: 1/2;
  grid-row: 2/3;
}

.services-list-credit {
  grid-column: 1/2;
  grid-row: 3/4;
  padding-bottom: 64px;
}

.services-list button {
  border: none;
  background-color: transparent;
}

.services-list-item-current button {
  background-color: #000000;
  color: #FFE17F;
  padding: 10px 30px;
  width: 100%;
  text-align: left;

}

.services-items {
  grid-column: 2/-1;
  grid-row: 1/4;
  border-left-style: solid;
  border-left-color: #000;
  border-width: 7px;
  margin: 0;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 116px;
}

.services-btn {
  font-family: raleway, Arial, sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  border: none;
}

.service-item-title {
  font-family: raleway, Arial, sans-serif;
  font-size: 50px;
  color: #000000;
  font-weight: 800;
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
}

.service-item-description {
  width: 452px;
}

.delivery-extra {
  position: relative;
  display: flex;
  margin-bottom: 70px;
  background-color: #F0F0F0;
  justify-content: space-between;
  align-items: baseline;
  align-content: center;
}

.delivery-extra p {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 20px;
  color: #000000;
  font-weight: 800;
  letter-spacing: 0.2em;
  margin: 0;
  align-items: center;
  border: 2px solid transparent;
}


.delivery-extra p::before {
  background-image: url("../images/delivery-car.svg");
  background-color: #FFE17F;
  width: 125px;
  height: 100px;
  content: "";
  background-position: center;
  background-repeat: no-repeat;
}

.delivery-extra p:hover::before {
  background-color: #FFC500;
}

.delivery-extra p:active {
  opacity: 0.6;
}

.delivery-extra p:focus {
  border: 2px solid #AF4FFF;
}

.delivery-extra p::after {
  background-image: url("../images/info.svg");
  background-color: #F0F0F0;
  width: 125px;
  height: 100px;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
}

.about-contact {
  display: flex;
}

.about {
  width: 50%;
}

.about::before,
.contacts::before {
  display: block;
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  border-top: #000 7px solid;
  width: 84px;
}

.about h2 {
  font-family: raleway, Arial, sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
  margin-bottom: 48px;
  margin-top: 40px;
}

.about p {
  margin-bottom: 30px;
}

.about ul {
  margin-bottom: 30px;
  padding-left: 20px;
}

.about ul {
  color: #000000;
  font-weight: 700;
}

.contacts {
  width: 50%;
}

.contacts h2 {
  margin-bottom: 48px;
  line-height: 50px;
  margin-top: 40px;
}

.contacts p {
  margin-bottom: 30px;
}

.contacts-subtitle {
  margin-bottom: 15px;
}

.contacts-address {
  margin-bottom: 30px;
}

.contacts-address p {
  margin-bottom: 0;
}

.contacts-schedule {
  margin-bottom: 30px;
  list-style-type: none;
  padding-left: 0;
}

.subscribe {
  padding-bottom: 56px;
}

.inner-full-grey {
  background-color: #F0F0F0;
}

.subscribe-top {
  display: flex;
  margin-top: 64px;
  margin-bottom: 144px;
  align-items: baseline;

}

.subscribe-title {
  font-family: raleway, Arial, sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  font-weight: 800;

}

/* .subscribe-description {
  width: 50%;
} */

.subscribe-bottom {
  display: flex;
}

.subscribe-bottom p {
  display: inline-block;
  margin: 0;
  margin-left: auto;
  background-image: url("../images/check.svg");
  background-repeat: no-repeat;
  background-position: center left;
  width: 160px;
  text-align: end;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 810px;
  box-sizing: border-box;
}

.subscribe-button {
  text-transform: uppercase;
}

.footer {
  background-color: #444444;
  color: #ffffff;
  font-size: 16px;
  min-width: 1160px
}

.footer-container {
  width: 1160px;
  margin: 62px auto;
}

.logo-footer {
  display: block;
  border: 2px solid transparent;
  width: 145px;
  height: 36px;
  margin-bottom: 35px;
}

.footer-address {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  align-items: center;
  margin-bottom: 47px;
}

.footer-address-text {
  margin: 0;
  width: 240px;
  font-style: normal;
  line-height: 20px;

}

.footer-links {
  display: flex;
  /* justify-content: end; */
}

.footer-links::before {
  width: 80px;
  content: "";
  border-bottom: solid 7px #FFC500;
  /* margin-left: 424px; */

}

/* .footer-contacts {
  margin-left: auto;
  max-width: 190px;
} */

.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
  font-family: raleway, Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  justify-content: center;
  margin-top: 137px;
  margin: 0;
  text-transform: uppercase;
}

.footer-nav-item {
  margin-right: 35px;
}
.footer-social-item:nth-child(3) {
  margin-right: 0;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin: 0; */
  margin-left: 424px;
}

.footer-social-item {
  margin-right: 15px;
  background: rgba(255, 255, 255, 0.3);
  width: 50px;
  border-radius: 50%;
  height: 50px;
}

.facebook {
  background-image: url("../images/facebook.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.instagram {
  background-image: url("../images/instagram.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.twitter {
  background-image: url("../images/twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-contacts {
  display: flex;
  justify-content: space-around;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer-contacts-phone {
  font-style: normal;
}

/* .footer-link-academy {
  margin-top: 62px;
} */
.htmlacdademy-link {
  /* float: right; */
  margin-left: auto;
}

.inner-header {
  padding: 35px 60px;
}

.inner-header-title {
  font-family: raleway, Arial, sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  font-weight: 800;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;

}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  font-size: 16px;
  padding-left: 0;
  margin: 0;

}

.breadcrumbs a {
  text-decoration: none;
  color: #000000;
}

.breadcrumbs-item {
  margin-right: 36px;
}

.catalog-products {
  display: flex;
  padding: 35px 0;
  background-color: #F0F0F0;
}

.catalog-filter {
  width: 320px;
  padding: 0 60px;
}

.catalog-filter h2,
.catalog-cards h2 {
  letter-spacing: 0.2em;
}

.catalog-products h2 {
  font-family: raleway, Arial, sans-serif;
  font-size: 16px;
  color: #000000;
}

.catalog-cards {
  width: 840px;
}

.catalog-cards-inner {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.product-list {
  display: grid;
  gap: 44px 40px;
  grid-template-columns: 360px 360px;
  background-color: #ffffff;
  padding: 70px 40px;
}

.descr-price {
  display: flex;
  justify-content: space-between;
}

.product-card-title {
  width: 226px;
  margin: 0;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.product-card-price {
  color: #444444;
  font-weight: normal;
}

.product-card-image {
  background-color: #ffffff;
}

.show-more {
  grid-column: 1/-1;
  font-family: raleway, Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  line-height: 19px;
  padding: 18px 0;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.pagination-full {
  grid-column: 1/-1;
  background-color: #EBEBEB;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.pagination {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 200px;

}

.pagination-link {
  display: flex;
  color: #444444;
  font-size: 16px;
  text-decoration: none;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.pagination-prev,
.pagination-next {
  font-weight: 800;
  font-size: 18px;
  color: #000000;
  text-transform: uppercase;
  width: 140px;
  letter-spacing: 0.2em;
}
